.tagGroup {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  > span {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

.tag {
  font-size: 0.8rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.1);
  color: $light-text;
  background-color: $light-surface;

  &.success {
    @include variant-success;
  }

  &.info {
    @include variant-info;
  }

  &.warning {
    @include variant-warning;
  }

  &.error {
    @include variant-error;
  }

  &.accent {
    @include variant-accent;
  }
}
