@use '../../styles/variants';
@use '../../styles/colors';

@mixin button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 24rem;
  min-height: 2.75rem;
  outline: 0;
  border: 0;
  padding: 0.75rem 1.5rem;
  background-color: colors.$light-surface;
  color: colors.$accent;
  transition: 0.2s ease-in-out background-color, 0.2s ease-in-out color,
    0.2s ease-in-out border-color;
  border-radius: 0.5rem;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.1);
  position: relative;

  @media (prefers-color-scheme: dark) {
    background-color: colors.$dark-surface;
  }
}

.button {
  @include button;

  &.loading {
    svg {
      margin-left: 0;
    }
  }

  &.success {
    @include variants.success;
  }

  &.info {
    @include variants.info;
  }

  &.warning {
    @include variants.warning;
  }

  &.error {
    @include variants.error;
  }

  &.accent {
    @include variants.accent;
    border: 0;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: darken(#f0f0f0, 40%);
  }
}

.iconButton {
  @include button;
  width: auto;
  min-height: auto;
  padding: 0.5rem;

  &.success {
    @include variants.success;
  }

  &.info {
    @include variants.info;
  }

  &.warning {
    @include variants.warning;
  }

  &.error {
    @include variants.error;
  }

  &.accent {
    @include variants.accent;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: darken(#f0f0f0, 40%);
  }
}
