@use '../../styles/breakpoints';
@use '../../styles/colors';

.container {
  background-color: colors.$light-background;
  padding: 0;
  margin-bottom: 1rem;

  @media (prefers-color-scheme: dark) {
    background-color: colors.$dark-background;
  }
}

.tabs {
  display: flex;
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    height: 0.125rem;
    background-color: colors.$light-background;

    @media (prefers-color-scheme: dark) {
      background-color: colors.$dark-background;
    }
  }

  &::-webkit-scrollbar-thumb {
    background-color: colors.$light-surface;

    @media (prefers-color-scheme: dark) {
      background-color: colors.$dark-surface;
    }
  }
}

.tab {
  text-align: center;
  padding: 1rem;
  background-color: transparent;
  border: 0;
  color: colors.$accent;
  border-bottom: 0.125rem solid colors.$light-surface;
  text-decoration: none;
  transition: 0.2s ease-in-out border-color, 0.2s ease-in-out color;
  font-size: 0.8125rem;
  font-weight: 500;
  cursor: pointer;
  white-space: nowrap;
  flex: 1;

  &:last-child {
    border-right: 0;
  }

  &.active {
    border-bottom-color: colors.$accent;
  }

  @media (prefers-color-scheme: dark) {
    border-bottom-color: colors.$dark-surface;
    font-weight: normal;
  }

  @media (min-width: breakpoints.$tablet) {
    font-size: 0.9rem;
  }
}
