@use "../../styles/colors";

.stat {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;

  .title {
    width: 100%;
    color: colors.$accent;
    font-size: 1rem;
    font-weight: bold;
  }

  .value {
    width: 100%;
    font-size: 1.5rem;
  }

  .description {
    width: 100%;
    font-size: 0.9rem;
    color: lighten(#202020, 25%);

    @media (prefers-color-scheme: dark) {
      color: darken(#f0f0f0, 25%);
    }
  }
}
