@use "../../styles/colors";

.stat {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .title {
    width: 100%;
    color: colors.$accent;
    font-size: 1rem;
    margin-bottom: 0.25rem;
    font-weight: 500;

    @media (prefers-color-scheme: dark) {
      font-weight: normal;
    }
  }

  .value {
    width: 100%;
    font-size: 1.5rem;
  }

  .description {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.8rem;
    color: lighten(#202020, 25%);

    @media (prefers-color-scheme: dark) {
      color: darken(#f0f0f0, 25%);
    }
  }

  &.info {
    .value {
      color: colors.$info-blue;
    }
  }

  &.warning {
    .value {
      color: colors.$warning-yellow;
    }
  }

  &.error {
    .value {
      color: colors.$error-red;
    }
  }
}
