@use '../../styles/breakpoints';

.container {
  padding: 1rem;
  width: 100%;
  max-width: breakpoints.$large-desktop;
  margin: 0 auto;

  @media screen and (min-width: breakpoints.$large-desktop) {
    padding-left: 0;
    padding-right: 0;
  }
}
