.container {
  padding: 1rem;
  width: 100%;
  max-width: $breakpoint-large-desktop;
  margin: 0 auto;

  @media screen and (min-width: calc($breakpoint-large-desktop + 1px)) {
    padding-left: 0;
    padding-right: 0;
  }
}