$info-blue: var(--color-info-blue);
$warning-yellow: var(--color-warning-yellow);
$error-red: var(--color-error-red);
$success-green: var(--color-success-green);

$gallery: var(--color-gallery);
$dark-grey: var(--color-dark-grey);

$primary: var(--color-primary);
$accent: var(--color-accent);

$light-background: var(--color-light-background);
$light-surface: var(--color-light-surface);
$light-text: var(--color-light-text);

$dark-background: var(--color-dark-background);
$dark-surface: var(--color-dark-surface);
$dark-text: var(--color-dark-text);