@mixin info {
  color: white;
  background-color: $info-blue;
  box-shadow: 0 0.125rem 0.125rem 0 rgba($info-blue, 0.2);
}

@mixin warning {
  color: white;
  background-color: $warning-yellow;
  box-shadow: 0 0.125rem 0.125rem 0 rgba($warning-yellow, 0.2);
}

@mixin error {
  color: white;
  background-color: $error-red;
  box-shadow: 0 0.125rem 0.125rem 0 rgba($error-red, 0.2);
}

@mixin success {
  color: white;
  background-color: $success-green;
  box-shadow: 0 0.125rem 0.125rem 0 rgba($success-green, 0.2);
}

@mixin accent {
  color: white;
  background-color: $accent;
  box-shadow: 0 0.125rem 0.125rem 0 rgba($accent, 0.2);
}
