@mixin info {
  color: var(--color-dark-text);
  background-color: var(--color-info-blue);
}

@mixin warning {
  color: var(--color-dark-text);
  background-color: var(--color-warning-yellow);
}

@mixin error {
  color: var(--color-dark-text);
  background-color: var(--color-error-red);
}

@mixin success {
  color: var(--color-dark-text);
  background-color: var(--color-success-green);
}

@mixin accent {
  color: var(--color-dark-text);
  background-color: var(--color-accent);
}
