@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap');

:root {
  --color-info-blue: #1a98ff;
  --color-warning-yellow: #ffc107;
  --color-error-red: #ff0033;
  --color-success-green: #4bca81;
  --color-primary: #ea7317;
  --color-accent: #fe5e41;

  --color-light-background: #f0f0f0;
  --color-light-surface: #{lighten(#f0f0f0, 3%)};
  --color-light-border: #{darken(#f0f0f0, 3%)};
  --color-light-text: #202020;

  --color-dark-background: #202020;
  --color-dark-surface: #{lighten(#202020, 3%)};
  --color-dark-border: #{lighten(#202020, 9%)};
  --color-dark-text: #fafafa;
}

* {
  box-sizing: border-box;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Atkinson Hyperlegible', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-light-background);
  color: var(--color-light-text);
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 0.5rem;
    background-color: var(--color-light-background);

    @media (prefers-color-scheme: dark) {
      background-color: var(--color-dark-background);
    }
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-light-surface);

    @media (prefers-color-scheme: dark) {
      background-color: var(--color-dark-surface);
    }
  }

  @media (prefers-color-scheme: dark) {
    background-color: var(--color-dark-background);
    color: var(--color-dark-text);
  }
}

html,
body,
#root {
  height: 100%;
}

svg {
  display: block;
}

a {
  color: inherit;
}

form {
  width: 100%;
  margin: 0;
}
