@import 'breakpoints';
@import 'colors';
@import 'variants';

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Source+Sans+Pro&display=swap');

* {
  box-sizing: border-box;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: $light-background;
  color: $light-text;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 0.5rem;
    background-color: $light-background;

    @media (prefers-color-scheme: dark) {
      background-color: $dark-background;
    }
  }

  &::-webkit-scrollbar-thumb {
    background-color: $light-surface;

    @media (prefers-color-scheme: dark) {
      background-color: $dark-surface;
    }
  }

  @media (prefers-color-scheme: dark) {
    background-color: $dark-background;
    color: $dark-text;
  }
}

html,
body,
#root {
  height: 100%;
}

svg {
  display: block;
}

a {
  color: inherit;
}

form {
  width: 100%;
  margin: 0;
}
