@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Source+Sans+Pro&display=swap');

:root {
  --color-info-blue: #1a98ff;
  --color-warning-yellow: #ffa600;
  --color-error-red: #fd2c2c;
  --color-success-green: #4bca81;
  --color-primary: #ea7317;
  --color-accent: #fe5e41;

  --color-light-background: #f0f0f0;
  --color-light-surface: #{lighten(#f0f0f0, 5%)};
  --color-light-border: #{darken(#f0f0f0, 15%)};
  --color-light-text: #202020;

  --color-dark-background: #202020;
  --color-dark-surface: #{lighten(#202020, 5%)};
  --color-dark-border: #{lighten(#202020, 15%)};
  --color-dark-text: #f0f0f0;
}

* {
  box-sizing: border-box;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-light-background);
  color: var(--color-light-text);
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 0.5rem;
    background-color: var(--color-light-background);

    @media (prefers-color-scheme: dark) {
      background-color: var(--color-dark-background);
    }
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-light-surface);

    @media (prefers-color-scheme: dark) {
      background-color: var(--color-dark-surface);
    }
  }

  @media (prefers-color-scheme: dark) {
    background-color: var(--color-dark-background);
    color: var(--color-dark-text);
  }
}

html,
body,
#root {
  height: 100%;
}

svg {
  display: block;
}

a {
  color: inherit;
}

form {
  width: 100%;
  margin: 0;
}
