@import "../../styles/breakpoints";
@import "../../styles/variants";
@import "../../styles/colors";

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.navbar {
  background-color: $primary;
  color: white;

  nav {
    padding: 0 1rem;
    width: 100%;
    min-height: 4.25rem;
    margin: 0 auto;
    display: grid;
    align-items: center;
    grid-template-columns: 15% auto 15%;

    .home {
      font-size: 1.5rem;
      height: 1.5rem;
    }

    .title {
      margin: 0;
      font-size: 1.25rem;
      text-align: center;
      align-self: center;
    }

    .action {
      justify-self: flex-end;
    }

    @media (min-width: $breakpoint-desktop) {
      padding: 0 2rem;
    }
  }
}

.content {
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;

  @media (min-width: $breakpoint-desktop) {
    flex-direction: row-reverse;
  }
}

.children {
  padding: 1rem;
  padding-bottom: 4.5rem;
  flex: 1;

  @media (min-width: $breakpoint-desktop) {
    padding-bottom: 1rem;
  }
}

.actionBar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  background-color: $light-surface;
  box-shadow: 0 -0.5rem 0.5rem 0 rgba(0, 0, 0, 0.1);

  .action {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    font-size: 0.75rem;
    background-color: transparent;
    color: $light-text;
    background-color: $light-surface;
    border-right: 0.125rem solid $light-background;
    padding: 0.5rem 0;
    box-shadow: none;
    border-radius: 0;
    gap: 0;

    &:last-child {
      border-right: 0;
    }

    &.active {
      color: $accent;
    }

    svg {
      font-size: 1rem;
      margin-bottom: 0.5rem;
    }

    @media (prefers-color-scheme: dark) {
      color: $dark-text;
      background-color: $dark-surface;
      border-right-color: $dark-background;
    }

    @media (min-width: $breakpoint-desktop) {
      display: grid;
      grid-template-columns: 15% auto 15%;
      gap: 0.75rem;
      padding: 0.75rem 1.5rem;
      border: 0;
      font-size: 1rem;
      margin-bottom: 1rem;
      border-radius: 0.5rem;
      @include variant-accent;

      svg {
        font-size: 1rem;
        margin-bottom: 0;
      }

      &.active {
        color: white;
      }
    }
  }

  @media (min-width: $breakpoint-desktop) {
    position: static;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    min-width: 16rem;
    box-shadow: -0.5rem 0 0.5rem 0 rgba(0, 0, 0, 0.1);
  }

  @media (prefers-color-scheme: dark) {
    background-color: $dark-surface;
  }
}
