.card {
  background-color: $light-surface;
  color: $light-text;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.1);
  transition: 0.2s background-color ease-in-out;

  .title {
    font-size: 1rem;
    font-weight: 500;
  }

  p {
    font-size: 0.9rem;
    margin-top: 0;
    margin-bottom: 1rem;
  }

  @media (prefers-color-scheme: dark) {
    background-color: $dark-surface;
    color: $dark-text;
  }
}