.alert {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;

  .title {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
    font-weight: 500;
  }

a {
    color: inherit;
  }

&.success {
    @include variant-success;
  }

&.info {
    @include variant-info;
  }

&.warning {
    @include variant-warning;
  }

&.error {
    @include variant-error;
  }

&.accent {
    @include variant-accent;
  }
}
