@use "../../styles/breakpoints";
@use "../../styles/colors";

dialog[open].modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 20rem;
  padding: 1rem;
  background-color: colors.$light-surface;
  color: colors.$light-text;
  border: 0;
  border-radius: 0.5rem;

  .backdrop {
    width: 100%;
    padding: 0;
  }

  @media (prefers-color-scheme: dark) {
    background-color: colors.$dark-surface;
    color: colors.$dark-text;
  }

  @media (min-width: breakpoints.$tablet) {
    max-width: breakpoints.$max-form-width;
  }

  @media (min-width: breakpoints.$desktop) {
    max-width: breakpoints.$tablet;
  }

  @media (min-width: breakpoints.$large-desktop) {
    max-width: breakpoints.$desktop;
  }
}
