.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);

  &.visible {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.content {
  background-color: $light-surface;
  color: $light-text;
  font-weight: 500;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 20rem;
  padding: 1rem;

  @media (prefers-color-scheme: dark) {
    background-color: $dark-surface;
    color: $dark-text;
  }
}
