.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  .error {
    margin-top: 0.25rem;
    color: $error-red;
  }

  label {
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 0.25rem;
    color: $light-text;

    @media (prefers-color-scheme: dark) {
      color: $accent;
    }
  }

  input,
  select,
  textarea {
    outline: 0;
    border: 0;
    min-height: 2.75rem;
    font-size: 1rem;
    line-height: 1rem;
    color: $light-text;
    background: transparent;
    background-color: $light-surface;
    padding: 0.75rem;
    box-shadow: 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    width: 100%;
    -webkit-appearance: none;
    filter: none;

    @media (prefers-color-scheme: dark) {
      color: $dark-text;
      background-color: $dark-surface;
    }
  }

  textarea {
    height: 10rem;
    resize: none;
  }

  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number'] {
    -moz-appearance: textfield;
  }

  &.fullHeight {
    flex: 1;

    textarea {
      height: 100%;
    }
  }
}
